body {
  background: linear-gradient(
    2.1deg,
    rgb(116, 253, 210) 5%,
    rgb(0, 191, 247) 95.8%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: arial, sans-serif;
}

h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}

h2 {
  color: #000080;
  font-size: 32px;
  font-size: 700;
  font-family: "Montserrat", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #878787;
  font-size: 16px;
  font-weight: 500;
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.app {
  margin: 60px auto;
  max-width: 800px;
}

.weather-app-wrapper {
  max-width: 648px;
  margin: 30px auto;
}

.weather-app {
  background-color: #fff;
  padding: 30px 35px;
  border: 1px solid #dadde1;
  border-radius: 15px;
  box-shadow: 0 30px 50px #41326421;
}

.weather-app img {
  max-width: 90px;
  margin-right: 5px;
  margin-bottom: 8px;
}

.weather-app form {
  border-bottom: 2px solid #f9f7fe;
  margin-top: 20px;
  padding-bottom: 25px;
}

#city-input {
  background-color: #f9f7fe;
}

.overview {
  margin: 25px 0 5px;
}

.weather-description {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

.weather-temperature img {
  margin: 15px 2px 15px 15px;
}

.weather-temperature strong {
  color: #212121;
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  line-height: 2;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: #212121;
  cursor: alias;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-conditions {
  line-height: 1.7;
  margin-top: 20px;
  padding-left: 30px;
}

.conditions {
  color: #000080;
  font-weight: 500;
}

.weather-forecast {
  border-bottom: 1px solid #f9f7fe;
  margin-top: 40px;
  margin-bottom: 30px;
  padding-bottom: 45px;
  text-align: center;
  color: #000;
}

.date {
  background-color: #f8f9fa;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 700;
  margin: 0 5px;
  max-width: 90px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

footer {
  font-size: 13px;
  text-align: center;
}
