body {
  background: linear-gradient(
    2.1deg,
    rgb(116, 253, 210) 5%,
    rgb(0, 191, 247) 95.8%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: arial, sans-serif;
}

h1 {
  color: #272142;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}

h2 {
  color: #000080;
  font-size: 32px;
  font-size: 700;
  font-family: "Montserrat", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #878787;
  font-size: 16px;
  font-weight: 500;
  list-style: none;
}

li::first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.app {
  margin: 60px auto;
  max-width: 800px;
}

.weather-app {
  background-color: #fff;
  padding: 30px 36px;
  border: 1px solid #dadde1;
  border-radius: 15px;
  box-shadow: 0 30px 50px #41326421;
}

#app-logo {
  max-width: 90px;
}

.weather-app form {
  border-bottom: 3px solid #f9f7fe;
  margin-top: 25px;
  padding-bottom: 25px;
}

#city-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  color: #27214266;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  line-height: 20px;
  padding: 15px 20px;
}

.weather-app .btn {
  border: none;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  padding: 15px 0;
}

.overview {
  margin: 20px 0 5px;
}

.location {
  margin-top: 20px;
}

#date {
  font-weight: 700;
}

.weather-description {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

.weather-conditions {
  line-height: 1.7;
  margin-top: 60px;
  padding-left: 12px;
}

.conditions {
  color: #000080;
  font-weight: 500;
}

.weather-temperature {
  justify-content: flex-end;
  margin-top: 5px;

}

.weather-temperature img {
  margin: 35px 2px;
}

.weather-temperature strong {
  color: #212121;
  font-family: "Montserrat", sans-serif;
  font-size: 77px;
  line-height: 2;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 22px;
  top: -34px;
}

.weather-temperature .active {
  color: #212121;
  cursor: alias;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  border-bottom: 3px solid #f9f7fe;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 35px;
  text-align: center;
  color: #000;
}

.date {
  background-color: #f8f9fa;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 700;
  margin: 0 5px;
  max-width: 111px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.date:hover {
  background-color: #efefef;
}

.weather-forecast-date {
  font-size: 16px;
  margin-top: 10px;
}

.weather-forecast-temperatures {
  font-size: 15px;
  margin-bottom: 10px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

footer {
  font-size: 13px;
  text-align: center;
}
